services:
  metabase:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./data:/data
      - metabase-data:/metabase-data
    environment:
      - MB_DB_FILE=/metabase-data/metabase.db

volumes:
  metabase-data:
